In [1]:
x = ("apple", "banana", "cherry")

In [3]:
# x[1] = "watermelon"

In [5]:
# convert tuple into list 
y = list(x)

# change the list items
y[1] = "kiwi"

#  convert list back into tuple
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [7]:
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [8]:
for i in fruits:
    print(i)

apple
banana
cherry
strawberry
raspberry

In [9]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')