[] -- Square braces
{} -- curly braces
() -- parentheses


## List

In [1]:
class_room = ["Aditya", 772800000, 2.4, ["Apple", "banana"], 3+2j, True, False]

In [2]:
print(type(class_room))

<class 'list'>

In [3]:
# using list() method to create a list

flowers = list(("Roses", "Marigold", "Lotus", "Lily"))
flowers_1 = list(["Roses", "Marigold", "Lotus", "Lily"])
flowers_2 = list({"Roses", "Marigold", "Lotus", "Lily"})


print(flowers)
print(flowers_1)
print(flowers_2)

['Roses', 'Marigold', 'Lotus', 'Lily']
['Roses', 'Marigold', 'Lotus', 'Lily']
['Lily', 'Marigold', 'Roses', 'Lotus']

In [4]:
print(class_room)

['Aditya', 772800000, 2.4, ['Apple', 'banana'], (3+2j), True, False]

In [5]:
class_room[0]

'Aditya'

In [6]:
len(class_room)

7

In [7]:
class_room[-7]

'Aditya'

In [8]:
class_room[0:3]

['Aditya', 772800000, 2.4]

In [9]:
thislist = ["apple", "banana", "cherry"]


print(thislist[1])




thislist[1] = "blackcurrant"
print(thislist)

banana
['apple', 'blackcurrant', 'cherry']

In [10]:
my_list = ["apple", "banana", "cherry"]
my_list[1:3] = ["blackcurrant", "watermelon"]

In [11]:
print(my_list)

['apple', 'blackcurrant', 'watermelon']

In [ ]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(2, "watermelon")
print(thislist)

In [12]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [23]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [14]:
thislist.remove("apple")

In [ ]:
thislist

In [15]:
thislist = ["apple", "banana", "cherry"]
thislist.pop(1)
print(thislist)

['apple', 'cherry']

In [16]:
thislist = ["apple", "banana", "cherry"]
thislist.pop()
print(thislist)

['apple', 'banana']

In [17]:
thislist = ["apple", "banana", "cherry"]
del thislist[0]
print(thislist)

['banana', 'cherry']

In [18]:
del thislist

In [19]:
thislist

NameError: name 'thislist' is not defined

In [20]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [21]:
lst = []

In [24]:
thislist

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [25]:
for x in thislist:
    print(x)

apple
banana
cherry
kiwi
orange

In [26]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [27]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [30]:
# for sorting in descending order

thislist.sort(reverse = True)

In [31]:
thislist

[100, 82, 65, 50, 23]

In [32]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [33]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

In [34]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist[:]
print(mylist)

['apple', 'banana', 'cherry']

In [35]:
thislist.append(7)

In [36]:
thislist

['apple', 'banana', 'cherry', 7]

In [37]:
mylist

['apple', 'banana', 'cherry']

In [38]:
# List comprhension


my_list_1 = ['call', "Bike", "Aeroplane"]

list_1 = []


for a in my_list_1:
    list_1.append(a)

In [39]:
list_1

['call', 'Bike', 'Aeroplane']

### newlist = [expression for item in iterable if condition == True]

In [40]:
list_3 = [x for x in list_1]

In [41]:
list_3

['call', 'Bike', 'Aeroplane']

In [42]:
list_2 =[a for a in my_list_1]

In [43]:
list_2

['call', 'Bike', 'Aeroplane']

In [44]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]

newlist = [x for x in fruits if x != "apple"]

print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

In [45]:
numbers = [x for x in range(21)]

numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [46]:
newlist = [x for x in range(10) if x < 5]

newlist

[0, 1, 2, 3, 4]