# A set is a collection which is unordered, unchangeable*, and unindexed.

In [1]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'banana', 'cherry', 'apple'}

In [2]:
my_set = set(("Amit", "Umesh", "Amit", 0, 1, True, False, (1,2,3)))

In [3]:
my_set

{(1, 2, 3), 0, 1, 'Amit', 'Umesh'}

In [4]:
my_set

{(1, 2, 3), 0, 1, 'Amit', 'Umesh'}

In [5]:
my_set = set(("Amit", "Umesh", "Amit", True, False, 0, 1,  (1,2,3)))

In [6]:
my_set

{(1, 2, 3), 'Amit', False, True, 'Umesh'}

In [7]:
len(my_set)

5

In [2]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
    print(x)

apple
cherry
banana

In [3]:
print("banana" in thisset)

True

In [4]:
print("watermelon" in thisset)

False

In [5]:
thisset.add("orange")

In [6]:
thisset

{'apple', 'banana', 'cherry', 'orange'}

In [7]:
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

In [8]:
thisset

{'apple', 'banana', 'cherry', 'mango', 'orange', 'papaya', 'pineapple'}

In [9]:
thisset.discard("banana")

print(thisset)

{'apple', 'papaya', 'orange', 'cherry', 'pineapple', 'mango'}

In [10]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset = set1.union(set2, set3, set4)
print(myset)

{1, 2, 3, 'bananas', 'a', 'b', 'apple', 'c', 'cherry', 'John', 'Elena'}

In [11]:
x = frozenset({"apple", "banana", "cherry"})
print(x)
print(type(x))

frozenset({'apple', 'cherry', 'banana'})
<class 'frozenset'>